body {
    font-family: 'Ubuntu Condensed', sans-serif;
}

header,
section {
    margin-left: 20%;
    padding-left: 2em;
}

h1,
h2 {
    font-family: 'Economica', sans-serif;
    font-weight: 50%;
}


h2 {
    text-transform: uppercase;
}


header img {
    border: 3px solid white;
    box-shadow: 10px 10px 10px #777;
}


ul {
    list-style: square;
}